/* Regras de uso geral(Sem media queries) */
/* Ajuste do box model pra tudo */
*, *::after, *::before {box-sizing: border-box;} /* Usar dessa forma */

/* imagens responsivas */
img{max-width: 100%;}

html{font-size: 14;}

/* reset dos espaços padroes do navegador */
body, h1, h2, h3, p, figure{
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  border: none;

}

.historia iframe{
  max-width: 800px;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Tirar o anderline de todos os links */
a{text-decoration: none;}


.logo nav, span {
  color: #01A0C6;
  padding: 0.1rem 1rem;
  line-height: 0.5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;

}

.logo a
{ 
color:  black;
padding: 0.3rem 1rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}